.chart {
    text-align: center;
    margin: auto;
}

.row {
    margin-bottom: 150px;
}

h1 {
    text-align: center;
    padding-top: 130px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
