.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  /* position: relative; */
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  background-color: #D9D9D9;
  /* flex:  mlr-10 rounded-3xl m-2 content-center ; */
  /* bg-[#D9D9D9] p-5 flex mlr-10 rounded-3xl m-2 content-center  w-40 */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.589);
}

img {
  border-radius: 5px 5px 0 0;
  /* display: inline-block; */
  width: 300px;
  height: 240px;
  object-fit: cover;
}

.cardcontainer {
  padding: 14px;
}

.title {
  color: black;
  font-size: 25px;
  font-family: 'Azeret Mono';
  font-weight: 900;
}

.row {
  margin: 8px 30px;
}

.card .btn {
  outline: none;

  justify-content: center;
  align-items: center;
  background-color: #46FFBD;
  color: black;
  font-size: 30px;
  font-weight: 900;
  /* margin-left: 110px; */
  margin: auto;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.card .btn:hover {
  background-color: #E2FEA7;
  color: rgb(0, 0, 0);
}

